@keyframes move{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
#music{
	width: 800px;
	height: 500px;
	background: rgba(255,255,255,0.95);
	position: absolute;
	left: 200px;
	top: 100px;
	border-radius:6px;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.6);
	display: none;
}
#music header{
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
	background:indianred;
	border-radius: 5px 5px 0 0;
}
#music header h1{
	position: absolute;
	left: 20px;
	top: 10px;
	margin: 0;
	color:#fff;
	font:20px/1.4 "微软雅黑";
}
#music header input{
	position: absolute;
	left: 320px;
	top: 15px;
	width: 160px;
	height: 20px;
	border: 0;
	padding: 0;
	border-radius: 3px;
	outline: none;
	background: seashell;
	font:12px/1.2 "微软雅黑";
	text-indent: 5px;
}
#music header .buttons{
	position: absolute;
	right: 20px;
	top: 10px;
	color:#fff;
}
/*----------.footer----------*/
#music .footer{
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #f6f6f8;
	border-radius: 0 0 5px 5px;
	border-top:1px solid #ccc;
}
#music .footer .control{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 10px;
}
#music .footer .control span{
	float: left;
	width: 26px;
	height: 26px;
	margin: 12px 6px;
	background: url(../img/prev.jpg) no-repeat;
	background-size: 100%;
}
#music .footer .control .next{
	background: url(../img/next.jpg) no-repeat;
	background-size: 100%;
}
#music .footer .control .play{
	width: 30px;
	height: 30px;
	margin-top: 10px;
	background: url(../img/play.jpg) no-repeat;
	background-size: 100%;
}
#music .footer .progBar{
	width: 430px;
	height: 100%;
	position: absolute;
	left: 145px;
	top: 0;
}
#music .footer .progBar span{
	position: absolute;
	left: 0;
	top: 18px;
	font:12px/1.2 arial;
	color:#777;
	
}
#music .footer .progBar .all{
	left: 442px;
}
#music .footer .progBar .bar{
	position: absolute;
	left: 35px;
	top: 24px;
	width: 400px;
	height: 3px;
	background: #999;
	border-radius: 1px;	
}
#music .footer .progBar .bar .run{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 3px;
	background: red;
}
#music .footer .progBar .bar .cirBut{
	position: absolute;
	left: -5px;
	top: -5px;
	width: 10px;
	height: 10px;
	color:indianred;
	cursor:pointer;
}
#music .footer .volum{
	width:150px;
	height: 100%;
	position: absolute;
	right:18px;
	top: 0;
}
#music .footer .volum .icon{
	position: absolute;
	left: 0;
	top: 18px;
	width: 14px;
	height: 14px;
	background: url(../img/voice.png) no-repeat;
	background-size: 100%;
	cursor:pointer;
}
#music .footer .volum .volProgbar{
	position: absolute;
	left:25px;
	top: 24px;
	width: 100px;
	height: 3px;
	background: #999;
	border-radius: 1px;	
}
#music .footer .volum .volProgbar:hover .voiBut{
	display: block;
}
#music .footer .volum .volProgbar .curVoice{
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 3px;
	background: red;
}
#music .footer .volum .volProgbar .voiBut{
	position: absolute;
	left: 75px;
	top: -7px;
	width: 10px;
	height: 10px;
	color:indianred;
	cursor:pointer;
	font-size: 12px;
	text-align: center;
	display: none;
}
#music .footer .volum .loop{
	width: 16px;
	height: 15px;
	position: absolute;
	right:-5px;
	top: 18px;
	background: url(../img/loop.png) no-repeat;
	background-size: 100%;
}
/*----------content--------*/
#music .content{
	width: 100%;
	height: 400px;
	position: absolute;
	left: 0;
	top: 50px;
}
#music .content .list{
	width: 160px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-right: 1px solid #ccc;
}
#music .content .list .title{
	width: 100%;
	height: 26px;
	background:rgba(0,0,0,0.2);
	font:14px/26px "微软雅黑";
	text-align: center;
}
#music .content .list .song{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
#music .content .list .song li{
	height: 24px;
	text-indent: 10px;
	font:12px/24px "微软雅黑";
	color:#777;
}
#music .content .list .song li:hover{
	background:rgba(0,0,0,0.1);
}
#music .content .list .song .active{
	background:rgba(0,0,0,0.1);
}
#music .content .zone{
	width: 640px;
	height: 100%;
	position: absolute;
	left: 160px;
	top: 0;
	background: rgba(0,0,0,0.02);
}
#music .content .zone .disk{
	height: 100%;
}
#music .content .zone .disk .diskpic{
	position: absolute;
	left: 75px;
	top: 80px;
	width: 260px;
	height: 260px;
	background: url(../img/diskpic.png) no-repeat;
	background-size: 100%;
	animation: move 8s linear infinite;
	animation-play-state: paused;
}
#music .content .zone .disk .headpic{
	position: absolute;
	left: 120px;
	top: 0;
	width: 105px;
	height: 215px;
	background: url(../img/headpic.png) no-repeat;
	background-size: 100%;
	transform: rotate(-80deg);
	transform-origin: 88px 23px;
	transition: 0.5s;
}
/*-------搜索结果------*/
.zone .songlist{
	height: 100%;
	position: relative;
	display: none;
}
.zone .songlist .head{
	height: 20px;
	padding-top: 10px;
}
.zone .songlist .tipsCount{
	height: 20px;
	text-align: center;
	font:14px/20px "微软雅黑";
	color:#666;
	margin-top: 10px;
}
.zone .songlist .head span{
	float: left;
	width: 128px;
	text-align: center;
	font:16px/20px "微软雅黑";
	color:#666;
}
.zone .songlist .closeSearchList{
	width: 16px;
	height: 16px;
	position: absolute;
	right: 10px;
	top: 8px;
}
.zone .songInfo{
	padding: 0;
	margin: 0;
	margin-top: 10px;
	list-style: none;
}
.zone .songInfo li{
	height: 28px;
	margin-bottom: 2px;
}
.zone .songInfo li:hover{
	background: rgba(0,0,0,0.1);
}
.zone .songInfo li span{
	float: left;
	width: 128px;
	text-align: center;
	font:12px/28px "微软雅黑";
	color:#666;
	white-space: nowrap;  
	text-overflow:ellipsis; 
	overflow:hidden;
}